<!DOCTYPE html>
<html lang="en">
<body>

<div id="top" style="height: 50px;float: right;padding-top: 10px;padding-right: 20px"><button class="btn-primary" onclick="javaScript:$('#logout').modal('show')">退出</button></div>
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">GIT</a></li>
    <li><a href="#">JAVA</a></li>
    <li><a href="#">IDEA</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Java <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">JDK</a></li>
            <li><a href="#">SPRING</a></li>
            <li><a href="#">MYBATIS</a></li>
            <li class="divider"></li>
            <li><a href="#">URL</a></li>
        </ul>
    </li>
    <li><a href="#">C</a></li>
</ul>
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    退出
                </h4>
            </div>
            <div class="modal-body">
                确认退出登录吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" onclick="logout()" class="btn btn-primary">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>