<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>监控</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../toastr/toastr.min.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../bootstrap/js/bootstrap-table.min.js"></script>
    <script src="../bootstrap/js/bootstrap-table-zh-CN.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../toastr/toastr.min.js"></script>
    <script src="../js/common/common.js"></script>
</head>

<body>
<div id="top" style="height: 50px;float: right;padding-top: 10px;padding-right: 20px"><button class="btn-primary" onclick="javaScript:$('#logout').modal('show')">退出</button></div>
<ul class="nav nav-tabs">
    <li class="active"><a href="/">首页</a></li>
    <li><a href="/order/page">待卖出订单</a></li>
    <li><a href="/socket/page">日志</a></li>
    <li><a href="/user/conf">参数配置</a></li>
    <li><a href="/user/page">用户</a></li>

</ul>
<div id="message" style="text-align: center;width: 800px;height: 900px;overflow: auto;
border: 1px solid #000;margin: 20px">

</div>
</body>

<script type="text/javascript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        var id ='[[${userId}]]';
        websocket = new WebSocket("ws://btc.lgqfun.top:8088/websocket/"+id);
    }
    else {
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function (event) {
        setMessageInnerHTML("监控已打开...");
    }

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        setMessageInnerHTML(event.data);
    }

    //连接关闭的回调方法
    websocket.onclose = function () {
        setMessageInnerHTML("监控已关闭...");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        var  text = $("#message").html();
        if(text.length>400){
            text=text.substr(text.indexOf('<hr>')+4);
            text+=innerHTML+'<hr>';
            $("#message").html(text)
        }else {
            document.getElementById('message').innerHTML += innerHTML + '<hr>';
        }
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息
    function send() {
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>
</html>