<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../toastr/toastr.min.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../bootstrap/js/bootstrap-table.min.js"></script>
    <script src="../bootstrap/js/bootstrap-table-zh-CN.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../toastr/toastr.min.js"></script>
    <script src="../js/common/common.js"></script>

</head>
<body>
<div id="top" style="height: 50px;float: right;padding-top: 10px;padding-right: 20px">
    <button class="btn-primary" onclick="javaScript:$('#logout').modal('show')">退出</button>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="/">首页</a></li>
    <li><a href="/order/page">待卖出订单</a></li>
    <li><a href="/socket/page">日志</a></li>
    <li><a href="/user/conf">参数配置</a></li>
    <li><a href="/user/page">用户</a></li>

</ul>
<div class="content" >
    <div>
        <table class="table" style="width:500px;margin-left: 50px;">
            <caption>K线信息</caption>
            <thead>
            <tr>
                <th >最新成交价</th>
                <th id="last" style="color:green">-</th>
                <th>开盘价格 :</th>
                <th id="open" style="color:green">-</th>
            </tr>
            <tr>
                <th >最高价格</th>
                <th id="high" style="color:green">-</th>
                <th>最低价格 :</th>
                <th id="low" style="color:green">-</th>
            </tr>
            <tr>
                <th >收盘价格</th>
                <th id="close" style="color:green">-</th>
                <th >时间</th>
                <th id="timestamp" style="color:green">-</th>

            </tr>

            </thead>
        </table>
    </div>
    <hr>
    <table class="table" style="width: 500px;margin-left: 50px;float: left">
        <caption>持仓信息</caption>
        <thead>
        <tr>
            <th>多仓数量 :</th>
            <th id="long_qty" style="color:green">-</th>
        </tr>
        <tr>
            <th>多仓可平仓数量 :</th>
            <th id="long_avail_qty" style="color:green">-</th>
        </tr>
        <tr>
            <th>开仓平均价 :</th>
            <th id="long_avg_cost" style="color:green">-</th>
        </tr>
        <tr>
            <th>已实现盈余 :</th>
            <th id="realised_pnl" style="color:green">-</th>
        </tr>
        <tr>
            <th>空仓数量 :</th>
            <th id="short_qty" style="color:green">-</th>
        </tr>
        <tr>
            <th>空仓保证金 :</th>
            <th id="short_margi" style="color:green">-</th>
        </tr>
        <tr>
            <th>空仓可平仓数量 :</th>
            <th id="short_avail_qty" style="color:green">-</th>
        </tr>
        <tr>
            <th>空仓收益 :</th>
            <th id="short_pnl" style="color:green">-</th>
        </tr>
        <tr>
            <th>空仓收益率 :</th>
            <th id="short_pnl_ratio" style="color:green">-</th>
        </tr>
        <tr>
            <th>多仓保证金 :</th>
            <th id="long_margin" style="color:green">-</th>
        </tr>
        <tr>
            <th>多仓收益 :</th>
            <th id="long_pnl" style="color:green">-</th>
        </tr>
        <tr>
            <th>多仓收益率 :</th>
            <th id="long_pnl_ratio" style="color:green">-</th>
        </tr>
        <tr>
            <th>多仓未实现盈亏 :</th>
            <th id="long_unrealised_pnl" style="color:green">-</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table class="table" style="width: 300px;float: left;margin-left: 50px">
        <caption>账户信息</caption>
        <thead>
        <tr>
            <th>账户权益 :</th>
            <th id="equity" style="color:green">-</th>
        </tr>
        <tr>
            <th>账户余额 :</th>
            <th id="total_avail_balance" style="color:green">-</th>
        </tr>
        <tr>
            <th>保证金 :</th>
            <th id="margin" style="color:green">-</th>
        </tr>
        <tr>
            <th>持仓已用保证金 :</th>
            <th id="margin_frozen" style="color:green">-</th>
        </tr>
        <tr>
            <th>已实现盈亏 :</th>
            <th id="realized_pnl" style="color:green">-</th>
        </tr>
        <tr>
            <th>保证金率 :</th>
            <th id="margin_ratio" style="color:green">-</th>
        </tr>
        <tr>
            <th>维持保证金率 :</th>
            <th id="maint_margin_ratio" style="color:green">-</th>
        </tr>
        <tr>
            <th>可划转数量 :</th>
            <th id="available_balance" style="color:green">-</th>
        </tr>
        <tr>
            <th>强平模式 :</th>
            <th id="liqui_mode" style="color:green">-</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
<div id="footer" style="text-align: center"></div>
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    退出
                </h4>
            </div>
            <div class="modal-body">
                确认退出登录吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" onclick="logout()" class="btn btn-primary">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
<script>
    $(function () {
        setInterval(function () {
            $.ajax({
                type: 'GET',
                url: '/hold/info',
                dataType: 'json',
                cache: false,//false是不缓存，true为缓存
                async: true,//true为异步，false为同步
                success: function (rs) {
                    if (rs.code == 0) {
                        if (rs.data != null) {
                            $("#long_qty").text(rs.data.long_qty)
                            $("#long_avail_qty").text(rs.data.long_avail_qty)
                            $("#long_avg_cost").text(rs.data.long_avg_cost)
                            $("#realised_pnl").text(rs.data.realised_pnl)
                            $("#short_qty").text(rs.data.short_qty)
                            if(rs.data.short_margi != ""){
                                $("#short_margi").text(rs.data.short_margi)
                            }
                            $("#short_avail_qty").text(rs.data.short_avail_qty)
                            $("#short_pnl_ratio").text((rs.data.short_pnl_ratio * 100).toFixed(2) + "%")
                            $("#short_pnl").text(rs.data.short_pnl)
                            $("#long_margin").text(rs.data.long_margin)
                            $("#long_pnl").text(rs.data.long_pnl)
                            $("#long_pnl_ratio").text((rs.data.long_pnl_ratio * 100).toFixed(2) + "%")
                            $("#long_unrealised_pnl").text(rs.data.long_unrealised_pnl)
                        }
                    } else {
                        toastr.error(rs.msg);
                    }
                }
            });

            $.ajax({
                type: 'GET',
                url: '/hold/kline',
                dataType: 'json',
                cache: false,//false是不缓存，true为缓存
                async: true,//true为异步，false为同步
                success: function (rs) {
                    if (rs.code == 0) {
                        if (rs.data != null) {
                            $("#open").text(rs.data.open);
                            $("#close").text(rs.data.close);
                            $("#high").text(rs.data.high);
                            $("#low").text(rs.data.low);
                            $("#timestamp").text(rs.data.timestamp);
                        }
                    } else {
                        toastr.error(rs.msg);
                    }
                }
            });

            $.ajax({
                type: 'GET',
                url: '/hold/last',
                dataType: 'json',
                cache: false,//false是不缓存，true为缓存
                async: true,//true为异步，false为同步
                success: function (rs) {
                    if (rs.code == 0) {
                        if (rs.data != null) {
                            $(document).attr("title", "首页-" + rs.data);
                            $("#last").text(rs.data);
                        }
                    } else {
                        toastr.error(rs.msg);
                    }
                }
            });

        }, 500)


        setInterval(function () {
            $.ajax({
                type: 'GET',
                url: '/account/info',
                dataType: 'json',
                cache: false,//false是不缓存，true为缓存
                async: true,//true为异步，false为同步
                success: function (rs) {
                    if (rs.code == 0) {
                        if (rs.data != null) {
                            $("#equity").text(rs.data.equity)
                            $("#total_avail_balance").text(rs.data.total_avail_balance)
                            $("#margin").text(rs.data.margin)
                            $("#margin_frozen").text(rs.data.margin_frozen)
                            $("#margin_for_unfilled").text(rs.data.margin_for_unfilled)
                            if (rs.data.realized_pnl != null) {
                                $("#realized_pnl").text(rs.data.realized_pnl)
                            } else {
                                $("#realized_pnl").text("-")
                            }
                            $("#unrealised_pnl").text(rs.data.unrealised_pnl)
                            $("#margin_ratio").text(rs.data.margin_ratio)
                            $("#maint_margin_ratio").text(rs.data.maint_margin_ratio)
                            if (rs.data.liqui_mode != null) {
                                $("#liqui_mode").text(rs.data.liqui_mode == "tier" ? "梯度强平" : "一次强平")
                            } else {
                                $("#liqui_mode").text("-")
                            }
                            if (rs.data.available_balance != null) {
                                $("#available_balance").text(rs.data.available_balance)
                            } else {
                                $("#available_balance").text("-")
                            }
                        }
                    } else {
                        toastr.error(rs.msg);
                    }
                }
            });


        }, 1000)


    });

</script>
</html>