<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../toastr/toastr.min.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../bootstrap/js/bootstrap-table.min.js"></script>
    <script src="../bootstrap/js/bootstrap-table-zh-CN.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../toastr/toastr.min.js"></script>
    <script src="../js/common/common.js"></script>

</head>
<body>
<div id="top" style="height: 50px;float: right;padding-top: 10px;padding-right: 20px"><button class="btn-primary" onclick="javaScript:$('#logout').modal('show')">退出</button></div>
<ul class="nav nav-tabs">
    <li class="active"><a href="/">首页</a></li>
    <li><a href="/order/page">待卖出订单</a></li>
    <li><a href="/socket/page">日志</a></li>
    <li><a href="/user/conf">参数配置</a></li>
    <li><a href="/user/page">用户</a></li>

</ul>
<div id="footer" style="text-align: center"></div>
</body>
<script>
    function preview(file){
        if (file.files && file.files[0]){
            var reader = new FileReader();
            reader.onload = function(evt){
                $("#preview").html('<img src="' + evt.target.result + '" width="95px" height="50px" />');
            }
            reader.readAsDataURL(file.files[0]);
        }else{
            $("#preview").html('<p style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></p>');
        }
    }
</script>
</html>